@import 'mixins';
@import 'settings';
@import 'variables';

$backgroundColor: white;
$headingColor: $opi-red;
$headingTextTransform: none;
$selectionBackgroundColor: mix(black, $opi-red, 25%);
$mainColor: lighten(black, 0.25);
$linkColor: $opi-red;
$header-height: 56px;

$base-index: 1;

@mixin absolute() {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

pre code {
  background: #272822;
  color: #DDD;
}

.reveal section blockquote {
	background: white;
  border-left: 10px solid mix(white, $opi-black, 50%);
}

html {
  &:before {
    content: '';
    background: inline('./images/OPi-logo.svg') no-repeat right 10px center / auto 50%;
    @include absolute();
    height: $header-height;
    width: 100%;
    z-index: $base-index + 2;
  }
  &:after {
    @include absolute();
    height: $header-height;
    width: 100%;
    z-index: $base-index - 1;
    background: linear-gradient(to left, mix(white, $opi-black, 10%), black 75%);

  }
  &.title, &.title-slide, &.heading, &.heading-slide {
    h1, h2 {
      text-align: left;
    }
    h1 {
      color: white;
    }
    section.present {
      transform: skewY(-8deg);
    }
    &:after {
      background: linear-gradient(65deg, black, mix(white, $opi-black, 10%) 75%);
      height: 65%;
      transform: skewY(-8deg);
      transform-origin: 0;
    }
    body:after {
      width: 0;
    }
  }
}

@mixin bodyBackground() {
  background: inline('./images/pattern.svg');
  background-repeat: repeat;
  background-size: 200px;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgba($backgroundColor, 1) 25%, rgba($backgroundColor, 0));
  }
  &:after {
    @include absolute();
    height: $header-height;
    width: 1%;
    background-color: $opi-red;
    z-index: $base-index + 1;
  }
}

@import 'theme';
