@import 'mixins';
@import 'settings';
@import 'variables';

$backgroundColor: white;
$headingColor: $opi-red;
$selectionBackgroundColor: mix(black, $opi-red, 25%);
$mainColor: lighten(black, 0.125);
$linkColor: $opi-red;

pre code {
  background: $mainColor;
}

@mixin bodyBackground() {
  background: #FFF;
  background: inline('./images/pattern.png');
  background-repeat: repeat;
  background-size: 200px;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left, rgba($backgroundColor, 1) 25%, rgba($backgroundColor, 0));
  }
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 56px;
    width: 100%;
    background: inline('./images/OPi-logo-long.png') no-repeat right 10px center / auto 50%, linear-gradient(to right, $opi-red, $opi-red 1.25%, $opi-black 1.2%, $opi-black 50%, mix(white, $opi-black, 10%));
  }
}

@import 'theme';
